.card {
    margin: 40px 0 60px;
}

.card__wrap {
    gap: 30px 24px;
    display: grid;
    grid-auto-rows: 294px;
    grid-template-columns: repeat(3, 1fr);
}

.card__info1 {
    background: #E1E1E1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 43px;
    justify-content: center;
    position: relative;
    padding: 74px 0 48px 0;
    width: 526px;
    width: 100%;
}


.card__info2 {
    background: #E1E1E1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 25px 0;
    gap: 24px;
    grid-row: 2 span;
    grid-column: 2 span;
    justify-content: center;
    position: relative;
    width: 100%;
}

.card__info3 {
    background: #E1E1E1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
    padding: 74px 46px 47px 110px;
    width: 100%;
    width: 526px;
}

.card__item {
    display: flex;
    align-items: center;
}

.card__item2 {
    display: flex;
    align-items: center;
    gap: 24px;
}

.card__top-sale {
    background: #323232;
    padding: 12px 40px;
    border-radius: 10px;
    position: absolute;
    top: 16px;
    left: 22px;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    font-family: var(--MR);
}

.card__right-text {
    gap: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card__right-text_p {
    font-family: var(--MR);
    font-weight: 400;
    font-size: 16px;
    color: #323232;
}

.card__right-text_h {
    font-family: var(--MB);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
}

.card__right-text1 {
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 206px;
    text-align: center;
}

.card__left-img1 {
    width: 100%;
    max-width: 306px;
}

.card__left-img1 img {
    width: 100%;
}

@media screen and (max-width:1000px) {
    .card__wrap {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .card__info3 {
        width: 100%;
    }

    .card__info2 {
        grid-row: 2;
        grid-column: 2 span;
        height: 100%;
    }
}

@media screen and (max-width:850px) {
    .card__wrap {
        grid-template-columns: repeat(1, 526px);
        justify-content: center;
    }

    .card__info2 {
        grid-row: 2;
        grid-column: 1;
    }

    .card__info3 {
        grid-row: 3;
    }

    .card__left-img1 {
        width: 100%;
        max-width: 180px;
    }
}

@media screen and (max-width:556px) {
    .card__wrap {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:435px) {
    .card__info3 {
        padding: 74px 0 47px;
    }

    .card__info1 {
        padding: 74px 0 47px;
    }
}