.leaders__text {
    position: relative;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.leaders__text-h {
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
    font-family: var(--MR);
}

.leaders__text::after {
    content: "";
    margin: 20px auto 0;
    height: 2px;
    max-width: 1320px;
    width: 100%;
    background: #323232;
    display: block;
}

.leaders {
    margin: 40px 0 60px;
}

.leaders__wrap {
    display: grid;
    gap: 40px 24px;
    grid-auto-rows: 485px;
    grid-template-columns: repeat(3, 1fr);
}

.leaders__info {
    background: #E1E1E1;
    border-radius: 10px;
    padding: 72px 0 40px;
    position: relative;
}

.leaders__icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 20px;
    right: 20px;
}

.leaders__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.leaders__item-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.leaders__top-sale {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding: 14px 34px;
    background: #323232;
    border-radius: 10px;
    font-family: var(--MR);
}

.leaders__icons-item {
    background: #fff;
    border-radius: 10px;
    padding: 16px 15px;
}

.leaders__icons-link {
    color: #323232;
}

.leaders__item-text_p {
    font-weight: 400;
    font-size: 20px;
    color: #323232;
    font-family: var(--MR);
}

.leaders__item-text_h {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
    font-style: Bold;
    font-weight: 700;
    font-family: var(--MB);
}


@media screen and (max-width:995px) {
    .leaders__wrap {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}

@media screen and (max-width:886px) {
    .leaders__wrap {
        grid-template-columns: repeat(1, 416px);
        justify-content: center;
    }
}

@media screen and (max-width:446px) {
    .leaders__wrap {
        grid-template-columns: repeat(1, 1fr);
    }
}