.news_text {
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
    padding-bottom: 30px;
}

.news__text-h {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
    font-family: var(--MR);
}

.news__text-p {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #323232;
    font-family: var(--MR);
}

.news_text::after {
    content: "";
    margin: 20px auto 0;
    height: 2px;
    max-width: 1320px;
    width: 100%;
    background: #323232;
    display: block;
}

.news {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news__wrap {
    margin-top: 40px;
    display: grid;
    grid-auto-rows: 470px;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    text-align: start;
    gap: 24px;
    margin: 40px 0 0;
}

.news__card1 {
    background: url(../img/braslets.png) no-repeat center/cover;
    height: 470px;
    border-radius: 10px;
    padding: 110px 60px 60px;
    position: relative;
}

.news__card-sale {
    position: absolute;
    top: 20px;
    left: 30px;
    background: #fff;
    padding: 14px 30px;
    border-radius: 10px;
    font-family: var(--MR);
    font-weight: 400;
    text-transform: uppercase;
}

.news__card-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.news__card-text_h {
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    font-family: var(--MB);
}

.news__card-text_p {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    font-family: var(--MR);
}

.icon {
    display: flex;
    position: absolute;
    bottom: 60px;
    left: 60px;
    gap: 10px;
}

.news__card-icon_p {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-family: var(--MR);
}

.news__card2 {
    background: url(../img/wristwatch.png) no-repeat center/cover;
    height: 470px;
    border-radius: 10px;
    padding: 110px 60px 60px;
    position: relative;
}

.news__card2-sale {
    position: absolute;
    top: 20px;
    left: 30px;
    background: #fff;
    padding: 14px 30px;
    border-radius: 10px;
    font-family: var(--MR);
    font-weight: 400;
    text-transform: uppercase;

}

.news__card2-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.news__card2-text_h {
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    font-family: var(--MB);
}

.news__card2-text_p {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    font-family: var(--MR);
}

.icon2 {
    display: flex;
    position: absolute;
    bottom: 60px;
    left: 60px;
    gap: 10px;
}

.news__card2-icon_p {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-family: var(--MR);
}


@media screen and (max-width:705px) {
    .news__wrap {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}

@media screen and (max-width:405px) {
    .icon {
        position: absolute;
        bottom: 30px;
        left: 25%;
        right: 25%;
    }

    .icon2 {
        position: absolute;
        left: 25%;
        bottom: 30px;
        right: 25%;
    }
}

@media screen and (max-width:386px) {
    .news__card1 {
        padding: 110px 20px 60px;
    }

    .news__card-text {
        gap: 15px;
    }

    .news__card-text_p {
        font-size: 15px;
    }
}

@media screen and (max-width: 376px) {
    .news__card2 {
        padding: 110px 20px 60px;
    }

    .news__card2-text {
        gap: 15px;
    }

    .news__card2-text_p {
        font-size: 16px;
    }
}